body{
    overflow-y: scroll;
}
a{
    cursor: pointer !important;
    text-decoration: none;
}
textarea {
    resize: vertical;
}

input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    border: 1px #d9d9d9 solid;
    color:#1d1d1d;
    width: 100%;
    display: block;
    padding: 0 .75rem;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 1rem;
    height: 36px;
    line-height: 36px;
    background:#fff none;
    background-clip: border-box;
    background-clip: padding-box;
    min-width: 0;
}
.input-wrapper {
    margin-top: 10px;
    background: #f6f6f6;
    line-height: 150px;
    color: grey;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.image-label {
    display: flex;
    justify-content: center;
}

.image-label img{
    max-width: 50%;
    width: 100%;
}
.image-hidden-input{
    display: none !important;
}
.image-30{
    max-width: 30px;
    width: 100%;
}
.image-40{
    max-width: 40px;
    width: 100%;
}
.circle{
    border-radius: 50%;
}