<!-- ==================== daily-lifestyle-section Start ==================== -->
<section id="daily-lifestyle-section" class="daily-lifestyle-section mb-50">
    <!-- <div class="container"> -->
        <!-- <div class="col m12 s3"> -->
        <div class="owl-carousel small-carousel owl-theme">
            {% if posts %}
                {% for post in posts %}
                    {% include 'carouselitem.html' %} 
                {% endfor %}        
            {% endif %}
        </div>
        <!-- </div> -->
        <!-- /.small-carousel -->
    <!-- </div> -->
    <!-- container -->
</section>
<!-- /#daily-lifestyle-section -->
<!-- ==================== daily-lifestyle-section End ==================== -->