<div class="item">
    <div class="card horizontal">
        <div class="card-image">
            <img src=" {{post.post_username.user_img}} " alt="{{post.post_username.username}}">
            <span class="effect"></span>
        </div>
        <!-- /.card-image -->
        <div class="card-stacked">
            <div class="card-content">
                <a href="{{ url_for('detail',post_id=post.id)}}" class="tag left l-blue mb-10">
                    {{post.title}}
                </a>
                <a href="{{ url_for('detail',post_id=post.id)}}" class="sm-name">
                    {{ post.body | truncate(3,True) |safe  }}
                </a>
            </div>
            <!-- /.card-content -->
            <div class="card-action">
                <p class="hero left">
                    BY - <span class="l-blue">{{post.post_username.username}}</span>
                </p>
                <ul class="post-mate right">
                    <li>
                        <a href="#" class="m-0"><i class="icofont icofont-comment"></i> 32</a>
                    </li>
                </ul>
                <!-- /.post-mate -->
            </div>
            <!-- /.card-action -->
        </div>
        <!-- /.card-stacked -->
    </div>
    <!-- /.card -->
</div>
<!-- /.item -->