<div class="comment w100dt mb-30">
    <div class="ppic left">
        <img src="{{current_user.user_img}}" alt="{{current_user.username}}">
    </div>
    <!-- /.ppic -->
    <div class="pname">
        <h4 class="mb-10">
            <a href="#" class="card-title l-blue">
                {{current_user.username}}
            </a>
        </h4>
        <p class="comment-text mb-10">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum aut culpa modi vel
            eaque cumque illo. Vitae placeat itaque minus!
        </p>

        <ul class="post-mate-time left">
            <li class="like">
                <a href="#">
                    <i class="icofont icofont-heart-alt"></i> 55
                </a>
            </li>
            <li class="comment">
                <a href="#">
                    <i class="icofont icofont-comment"></i> 32
                </a>
            </li>
            <li class="reply">
                <a href="#">
                    Reply
                </a>
            </li>
            <li>
                <i class="icofont icofont-ui-calendar"></i> 5 February'17
            </li>
        </ul>

    </div>
    <!-- /.pname -->
</div>
<!-- /.comment -->