<footer class="white">
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" href="">
        <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
        <li>
            <a href="#" class="btn-floating green">
                <i class="material-icons">publish</i>
            </a>
        </li>
    </ul>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © {{ year }} Copyright 迹
            <a class="grey-text text-lighten-4 right" href="#!">更多链接</a>
        </div>
    </div>
</footer>