<li class="collection-item">
    <div class="card horizontal">
        <div class="card-image">
            <img class="post-img" src="{{post.post_img}}" alt="{{ post.title }}">
        </div>
        <div class="card-stacked">
            <span class="card-title post-title">{{ post.title }}</span>
            <div class="card-content">
                <p>{{post.content | truncate(100,True) }}</p>
            </div>
            <div class="card-action box post-action">
                <span class="post-info">
                    <span class=" icon-info user">
                        <img src="{{post.post_user.avatar}}" alt="{{post.post_user.name}}"
                            class="circle">{{post.post_user.name}}
                    </span>
                    <span class="tooltipped icon-info" data-position="right" data-delay="50"
                        data-tooltip="{{post.time.strftime("%Y-%m-%d")}}">
                        <i class="material-icons">place</i>{{ post.address}}
                    </span>
                </span>
                <a href="{{ url_for('post.posts',id=post.id)}}" class="read-more icon-info">
                    更多
                </a>
            </div>
        </div>
    </div>
</li>