<div class="featured-posts w100dt mb-30">
        <div class="sidebar-title center-align">
            <h2>{{current_user.username}}-Profile</h2>
        </div>
        <!-- /.sidebar-title -->

        <div class="sidebar-posts">

            <div class="card">
                <div class="card-image mb-10">
                    <img src="{{current_user.user_img}}" alt="{{current_user.username}}">
                    <span class="effect"></span>
                </div>
                <!-- /.card-image -->
                <div class="card-content w100dt">
                    <p>
                        <a href="#" class="tag left w100dt l-blue mb-10">简介</a>
                    </p>
                    {% if current_user.profile %}
                    <p>
                    {{current_user.profile}}</p>
                    {% else %}
                    <p>无</p>
                    {% endif %}
                </div>
                <!-- /.card-content -->
            </div>
            <!-- /.card -->

            <div class="card">
                <div class="card-image mb-10">
                    <span class="effect"></span>
                </div>
                <!-- /.card-image -->
                <div class="card-content w100dt">
                    <p>
                        <a href="#" class="tag left w100dt l-blue mb-10">邮箱</a>
                    </p>
                    <span class="card-title">
                        {{current_user.email}}
                    </span>
                </div>
                <!-- /.card-content -->
            </div>
            <!-- /.card -->

            <div class="card">
                <div class="card-image mb-10">
                    <span class="effect"></span>
                </div>
                <!-- /.card-image -->
                <div class="card-content w100dt">
                    <p>
                        <a href="#" class="tag left w100dt l-blue mb-10">最后登录时间</a>
                    </p>
                    <span class="card-title">
                            {{current_user.last_seen}}
                    </span>
                    <span><a href="{{ url_for('profile') }}" >修改个人信息</a></span>
                </div>
                <!-- /.card-content -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.sidebar-posts -->

    </div>
    
    <!-- /.featured-posts -->