{% extends "layout.html" %}
{% from 'function.html' import render_field %}
{% block content %}

<main class="container container h-100 pt-3">
    <div class="row bg-white p-16 flex-justify-center win-shadow">
        <div class="cell-md-5 cell-sm-12">
            <header>
                <h2>{{ title }}</h2>
            </header>
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{render_field(form.title)}}
                <div class="form-group">
                    {{ form.time( class="validate",type="date" ) }}
                    <small class="text-muted fg-crimson">
                        {% for error in form.time.errors  %}
                        {{error}}
                        {% endfor %}
                    </small>
                </div>
                {{render_field(form.address)}}
                {{render_field(form.content)}}
                {% if post_img_src %}
                <div class="input-wrapper">
                    <div class="image-label">
                        <img src="{{post_img_src}}"/>
                    </div>
                </div>
                {% endif %}
                <div class="input-wrapper">
                    <label class="image-label" for="post_img" id="poster">
                        {{ form.post_img( class="image-hidden-input",onchange="getPhoto(this)", accept=".jpeg, .jpg, .png" ) }}
                        <span id="upload-text">封面</span>
                    </label>
                    <small class="text-muted error">
                        {% for error in form.post_img.errors  %}
                        {{error}}
                        {% endfor %}
                    </small>
                </div>
                <div class="form-group">
                    {{form.submit(class="w-100 info drop-shadow")}}
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
{% block script %}
<script>
    var imgurl = "";

    function getPhoto(node) {
        var imgURL = "";
        try {
            var file = null;
            if (node.files && node.files[0]) {
                file = node.files[0];
            } else if (node.files && node.files.item(0)) {
                file = node.files.item(0);
            }
            //Firefox 因安全性问题已无法直接通过input[file].value 获取完整的文件路径  
            try {
                imgURL = file.getAsDataURL();
            } catch (e) {
                imgRUL = window.URL.createObjectURL(file);
            }
        } catch (e) {
            if (node.files && node.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgURL = e.target.result;
                };
                reader.readAsDataURL(node.files[0]);
            }
        }
        creatImg(imgRUL); //显示图片
        return imgURL;
    }

    function creatImg(imgRUL) {
        document.getElementById("upload-text").innerHTML=`<img id="img_view" src="${imgRUL}"/>`;
    }
</script>
{% endblock %}