{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col m6 s12 offset-m3 card">
        <div class="center">
            <h2>{{ title }}</h2>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="input-field">
                {{ form.title( class="validate" ) }}
                {{ form.title.label }}
                {% for error in form.title.errors %}
                <span style="color: crimson;">{{error}}</span>
                {% endfor %}
            </div>

            <div class="input-field">
                {{ form.time( class="validate",type="date" ) }}
                {% for error in form.time.errors %}
                <span style="color: crimson;">{{error}}</span>
                {% endfor %}
            </div>

            <div class="input-field">
                {{ form.address( class="validate" ) }}
                {{ form.address.label }}
                {% for error in form.address.errors %}
                <span style="color: crimson;">{{error}}</span>
                {% endfor %}
            </div>

            <div class="input-field">
                {{ form.content(class="materialize-textarea",length="300") }}
                {{ form.content.label }}
                {% for error in form.content.errors %}
                <span style="color: crimson;">{{error}}</span>
                {% endfor %}
            </div>


            <div class="WriteCover-wrapper">
                <label class="UploadPicture-wrapper">
                    {{ form.post_img( class="UploadPicture-input",onchange="getPhoto(this)", accept=".jpeg, .jpg, .png" ) }}
                    <span>封面</span>
                </label>
                {% for error in form.post_img.errors %}
                    <span style="color: crimson;">{{error}}</span>
                {% endfor %}
            </div>
            <div class="file-path-wrapper">
                <img id="img_view2" src="" />
            </div>

            <div class="input-field center sub-btn" >
                {{form.submit(class="btn waves-effect waves-light")}}
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    var imgurl = "";

    function getPhoto(node) {
        var imgURL = "";
        try {
            var file = null;
            if (node.files && node.files[0]) {
                file = node.files[0];
            } else if (node.files && node.files.item(0)) {
                file = node.files.item(0);
            }
            //Firefox 因安全性问题已无法直接通过input[file].value 获取完整的文件路径  
            try {
                imgURL = file.getAsDataURL();
            } catch (e) {
                imgRUL = window.URL.createObjectURL(file);
            }
        } catch (e) {
            if (node.files && node.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgURL = e.target.result;
                };
                reader.readAsDataURL(node.files[0]);
            }
        }
        creatImg(imgRUL); //显示图片
        return imgURL;
    }

    function creatImg(imgRUL) {
        document.getElementById("img_view2").src = imgRUL;
        $("#img_view2").addClass("user_img")
        $('#img_view2').viewer({
            url: 'src',

        });
    }
</script>
{% endblock %}