{% extends "layout.html" %}
{% from 'function.html' import render_field %}
{% block content %}
<main class="container container h-100 pt-16">
    <div class="row bg-white p-16 flex-justify-center">
        <div class="cell-md-8 cell-sm-12">
            <header>
                <h2>{{ title }}</h2>
            </header>
            <form method="POST">
                {{ form.hidden_tag() }}
                {{render_field(form.title)}}
                <div class="form-group mt-2">
                    {{form.content()}}
                </div>
                <div class="form-group mt-2">
                    {{form.submit()}}
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
{% block script %}
{{ super() }}
<!-- 加载ckeditor的js等模块 -->
{{ckeditor.load()}}
{{ ckeditor.load_code_theme() }}
{{ckeditor.config(name='content')}}
{% endblock %}