{% extends "layout.html" %}
{% from 'function.html' import render_field %}
{% block title %}
{{ article.title }}
{% endblock %}
{% block content %}
<main class="container h-100 pt-3">
	<div class="row flex-justify-center">

		<div class="col-md-8 col-sm-12 d-flex flex-column ">

			<article class="p-3 bg-white overflow-hidden image win-shadow">
				<h2>{{ article.title }}</h2>
				<blockquote class="d-flex flex-align-baseline fg-gray">
					<i class="mif-user">{{article.article_user.name}}</i>
					<i class="mif-alarm ml-1">{{article.time.strftime("%Y-%m-%d")}}</i>
					<i class="mif-attachment ml-1"> 
						<a href="{{url_for('post.posts',id=article.post_id)}}">
							{{ article.article_post.title}}
						</a>
					</i>
					{% if g.user.is_authenticated %}
						{% if current_user.id == article.article_user.id %}
						<a class="button ml-2" href="{{url_for('article.update',id=article.id)}}">
							编辑
						</a>
						<a class="button ml-2" onclick="del(`{{url_for('article.remove',id=article.id)}}`)">删除</a>
						{% endif %}
					{% endif %}
				</blockquote>
				<div class="p-3" style="min-height: 450px;">
					{{ article.content | safe }}
				</div>
			</article>

			<div class="p-3 bg-white mt-2 win-shadow">

				<div class="d-flex flex-justify-between">
					<span>相关评论<span class="fg-red">({{article.comments.count()}})</span></span>
					{% if g.user.is_authenticated %}
					<button class="button active"
						onclick="comm(`{{url_for('comment.new',article_id=article.id)}}`)">评论</button>
					<div class="dialog" data-role="dialog" id="comment-dialog" data-overlay-click-close="true"
						data-close-button="true">
						<div class="dialog-title">评论</div>
						<div class="dialog-content">
							<form method="POST" action="{{url_for('comment.new',article_id=article.id)}}" id="comm">
								{{ form.hidden_tag() }}
								{{form.content(style="resize:none")}}
								<div class="form-group dialog-actions text-right">
									{{form.submit()}}
								</div>
							</form>
						</div>
					</div>
					{% else %}
					<div class="text-right">
						<a href="/login?next={{url_for('article.articles',id=article.id)}}"
							class="button active">登录可评论</a>
					</div>
					{% endif %}
				</div>

				<ul class="card group-list d-flex flex-column-r">
					{% for comment in article.comments %}
					<li>
						<div class="d-flex flex-align-center">
							<img src="{{comment.comment_user.avatar}}" alt="{{comment.comment_user.name}}"
								class="image-40 circle" />
							<span>{{comment.comment_user.name}}</span>
							<span>{{comment.time.strftime("%Y-%m-%d")}}</span>
						</div>
						<div class="p-1">
							{% if comment.comm_type == 0 %}
							<a href="{{url_for('post.user_posts',id=comment.to_user_id)}}">@回复{{comment.title}}</a>
							{% endif %}
							{{comment.content}}
						</div>
						{% if g.user.is_authenticated %}
						<div>
							<button class="no-border text-muted"
								onclick="comm( `{{ url_for('comment.new',article_id=comment.article_id,to_user=comment.form_user_id) }}` )">回复</button>
						</div>
						{% else %}
						<div>
							<a class="text-muted" href="/login">登录后才能回复</a>
						</div>
						{% endif %}
					</li>
					{% endfor %}
				</ul>

			</div>
		</div>

		<div class="col-md-4 col-sm-12 ">
			<div class="bg-white win-shadow" >
				<div class="text-center">关于作者</div>
				<div class="row flex-align-end p-2">
					<img src="{{article.article_user.avatar}}" class="image-160 circle"
						alt="{{article.article_user.name}}" />
					<h2 style="margin: 1rem;"><a href="{{url_for('post.user_posts',id=article.user_id)}}"
							title="{{article.article_user.name}}">{{article.article_user.name}}</a></h2>
					<div>
						<ul class="list-group">
							<li>他看了 {{article.article_user.posts.count()}} 部电影</li>
							<li>他共写了 {{article.article_user.articles.count()}} 篇文章</li>
							<li>最近活跃：{{article.article_user.last_seen}}</li>
						</ul>
					</div>
				</div>
				<div class="text-center">类似文章</div>
				<ol class="group-list bg-white">
					{% for item in articles %}
					<li>
						<div class="d-flex">
							<img src="{{item.article_user.avatar}}" style="width: 35px;" />
							<a class="ml-3" href="{{url_for('article.articles',id=item.id)}}" title=" {{item.title}}">
								{{item.title}}
							</a>
						</div>
						<span class="text-muted">{{item.time.strftime("%Y-%m-%d")}}</span>
					</li>
					{% endfor %}
				</ol>
			</div>
		</div>

	</div>
</main>
{% endblock %}
{% block script %}
<script>
	function comm(href) {
		Metro.dialog.open('#comment-dialog');
		document.getElementById("comm").action = href;
		$('#content').focus();
	}
	function del(href){
		if (confirm('确定删除？')){
			// 渲染csrf_token
			var csrftoken = "{{ csrf_token() }}"
			$.ajax({
				method: "DELETE",
				url: href,
				headers:{
					"X-CSRFToken": csrftoken
				},
				onSuccess: function(response){
					console.log(response);
					window.location.href=`/profile?tab=article`;
				},
					onFail: function(xhr){
						console.log(xhr);
					}
				});
		}
	}
</script>
{% endblock %}