{% extends "layout.html" %}
{% block title %}
{{ article.title }}
{% endblock %}
{% block content %}
<div class="row card article-detail">
    <header>
        <div>
            <h2>
                {{ article.title }}
            </h2>
            <p class="box">
                <span class="box">
                    <img src="{{article.article_user.avatar}}" class="circle avatar post-user-img"
                        alt="{{article.article_user.name}}" />
                    {{article.article_user.name}}
                </span>
                <span class="icon-info">
                    <i class="material-icons">access_time</i>
                    {{article.time.strftime("%Y-%m-%d")}}
                </span>
                <span class="icon-info">
                    <i class="material-icons">attachment</i>
                    <a href="{{url_for('post.posts',id=article.post_id)}}">{{ article.article_post.title}}</a>
                </span>
            </p>
        </div>
    </header>
	<article class="post-content">
		{{ article.content | safe }}
	</article>
	<section>
		<h2>相关评论
		</h2>
		{% if g.user.is_authenticated %}
		<form class="form" method="POST" action="{{url_for('comment.new',article_id=article.id)}}" id="comm">
            {{ form.hidden_tag() }}

            <div class="input-field">
                {{ form.content( class="materialize-textarea",length="100",id="comm_input") }}
                {{ form.content.label }}
                {% for error in form.content.errors %}
                    <span style="color: crimson;">{{error}}</span>
                {% endfor %}
            </div>
            <div class="input-field center sub-btn">
                {{form.submit(class="btn waves-effect waves-light")}}
            </div>

		</form>
		{% else %}
		<div>
			<a href="/login">登录</a>可评论
		</div>
		{% endif %}

		
		<div class="collection">
			{% for comment in article.comments %}
			<li class="collection-item">
				<div class="black-text">
					<div class="card-footer">
						<span class="post-info">
							<span class=" icon-info user">
								<img src="{{comment.comment_user.avatar}}" alt="{{comment.comment_user.name}}"
									class="circle">{{comment.comment_user.name}}
							</span>
							<span class="icon-info">
								{{comment.time.strftime("%Y-%m-%d")}}
							</span>
						</span>
					</div>
					<div class="card-content">
						{% if comment.comm_type == 0 %}
							<a href="{{url_for('post.user_posts',id=comment.to_user_id)}}">@回复{{comment.title}}</a>
						{% endif %}
						{{comment.content}}
					</div>
					
					{% if g.user.is_authenticated %}
                    <div>
                        <button onclick="reply( `{{ url_for('comment.new',article_id=comment.article_id,to_user=comment.form_user_id) }}` )">回复</button>
                    </div>
					{% else %}
					<div>
						<a href="/login">登录</a>可回复
					</div>
					{% endif %}

				</div>
			</li>
			{% endfor %}
		</div>

		
	</section>
</div>
{% endblock %}
{% block script %}
	<script>
		function reply(href) {
			document.getElementById("comm").action = href;
			$('#comm_input').focus()
		}
	</script>	
{% endblock %}