<footer class="page-footer blue lighten-1">
    <div class="container">
        <div class="row">
            
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li><a  class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a id="backTopBtn" class="btn-floating green"><i class="material-icons">publish</i></a></li>
        </ul>
        </div>
            <div class="col l6 s12">
                <h5 class="white-text">迹</h5>
                <p class="grey-text text-lighten-4">你可以用行和列来组织你的页脚内容。</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">迹</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">迹</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">迹</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">迹</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">迹</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © {{ year }} Copyright 迹
            <a class="grey-text text-lighten-4 right" href="#!">更多链接</a>
        </div>
    </div>
</footer>