{% extends "layout.html" %}
{% from 'function.html' import render_pagination %}
{% block content %}
<main class="row">
    <div class="cell-md-8 cell-sm-12">
        <!-- user-post -->
        {% if users.items %}
        <h4 class="center"> 所有记录</h4>
        <section class="collection box user-collection ">
            {% for user in users.items %}
            <div class="user-collection-item">
                <div class="card-image user-image box">
                    <a href="{{url_for('post.user_posts',id=user.id)}}" title="{{user.name}}">
                        <img src="{{user.avatar}}" alt="{{user.name}}">
                    </a>
                    <span class="user-info">
                        {{user.last_seen.strftime("%Y-%m-%d")}}
                    </span>
                </div>
                <div>
                    <span class="truncate">{{user.name}}的观影记录</span>
                </div>
            </div>
            {% endfor %}
        </section>
        {% else %}
        <p>暂无用户观影记录</p>
        {% endif %}
        <!-- pagination -->
        <div class="center">
            {{ render_pagination(users,'main.home') }}
        </div>
    </div>

    <div class="cell-md-4 cell-sm-12 ">
        <ul class="collection">
            <h4 class="center"> 推荐文章</h4>
            {% for item in articles %}
            <div class="card">
                <div class="card-header">
                    <a href="{{url_for('article.articles',id=item[0].id)}}" title=" {{item[0].title}}">
                        {{item[0].title}}
                    </a>
                    <p class="fg-gray">Posted on {{item[0].time.strftime("%Y-%m-%d")}}</p>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>

    </div>
    {% endblock %}