{% extends "layout.html" %}
{% from 'function.html' import render_pagination %}
{% block content %}
<div class="row">
    <div class="col s12 m8 l9">
        <!-- user-post -->
        {% if users.items %}

        <section>
            {% for user in users.items %}
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="{{user.avatar}}" alt="{{user.name}}">
                    </div>
                    <div class="card-stacked">
                        <span class="card-title post-title">{{user.name}}的观影记录</span>
                        <div class="card-content">
                            <p>
                                <span class="icon-info">
                                    <i class="material-icons">movie</i>看过{{ user.posts.count()}}部电影
                                </span>
                            </p>
                            <p>
                                <span class="icon-info">
                                    <i class="material-icons">import_contacts</i>写过{{ user.articles.count()}}篇文章
                                </span>
                            </p>

                        </div>
                        <div class="card-action box post-action">
                            <span class="post-info">
                                <span class="icon-info">
                                    <i class="material-icons">access_time</i>
                                    最近活跃：{{user.last_seen.strftime("%Y-%m-%d")}}
                                </span>
                                <span class="icon-info">
                                    <i class="material-icons">comment</i>{{ user.comments.count()}}
                                </span>
                            </span>
                            <a href="{{url_for('post.user_posts',id=user.id)}}" class="read-more icon-info">
                                详情
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
        {% else %}
        <p>暂无用户观影记录</p>
        {% endif %}
        <!-- pagination -->
        <div class="center">
            {{ render_pagination(users,'main.home') }}
        </div>
    </div>

    <div class="col s12 m4 l3">
        <div class="card">
            <ul class="collection">
                {% if g.user.is_authenticated %}
                <a href="{{url_for('post.new')}}" class="collection-item">
                    <span class="icon-info">
                        <i class="material-icons ">add</i>
                        发布
                    </span>
                </a>
                {% else %}
                <a href="{{url_for('main.login')}}" class="collection-item">
                    <span class="icon-info">
                        <i class="material-icons">add</i>
                        登录可发布
                    </span>
                    {% endif %}
                </a>
            </ul>
        </div>
    </div>

</div>
{% endblock %}