{% extends "layout.html" %}
{% from 'function.html' import render_pagination %}
{% block content %}
<div class="row">

    <div class="col s12 m8 l9">
        <!-- posts -->
        {% if posts.items %}

        <ul class="collection">
            {% for post in posts.items %}
                {% include 'post.html' %} 
            {% endfor %}
        </ul>
        {% else %}
            <p>你什么都没有ヾ(≧O≦)〃嗷~</p>
        {% endif %}
        <!-- pagination -->
        <div class="center">
            {{ render_pagination(posts,'main.home') }}
        </div>
    </div>

    <div class="col s12 m4 l3">
        <div class="card-panel center">
            <div>
                <a class="btn btn-large halfway-fab waves-effect waves-light" href="{{url_for('post.new')}}">
                    发布新记录
                </a>
            </div>
        </div>
    </div>

</div>
{% endblock %}