<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>
		{% block title %}
		{{ title }}
		{% endblock %}
		-Simple Record
	</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/metro-all.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body class="bg-gray">

	{% block header %}
	<nav data-role="appbar" data-expand-point="md" class="flex-justify-between">
		<a href="/" class="brand no-hover">
			<span>Simple Record</span>
		</a>
		<ul class="app-bar-menu">
			<li class="{{ 'active' if title=='Home' else '' }}">
				<a href="{{ url_for('main.home') }}">
					<span class="mif-home icon"></span>
					发现
				</a>
			</li>
			{% if g.user.is_authenticated %}
			<li class="{{ 'active' if title=='Profile' else '' }}">
				<a href="{{url_for('main.profile')}}">
					<span class="mif-profile"></span>
					个人中心</a>
			</li>
			<li class="{{ 'active' if title=='Post' else '' }}">
				<a href="{{url_for('post.new')}}">
					<span class="mif-add"></span>
					发布
				</a>
			</li>
			<li>
				<a href="#" class=" app-bar-item dropdown-toggle">
					<img src="{{current_user.avatar}}" class="circle image-30" alt="{{current_user.name}}" />
					{{current_user.name}}
				</a>
				<ul class="d-menu w-100 text-center" data-role="dropdown">
					<li>
						<a href="{{ url_for('main.logout') }}">
							<span class="mif-settings-power fg-red" title="退出"></span>
						</a>
					</li>
					<li class="divider bg-lightGray"></li>
				</ul>
			</li>
			{% else %}
			<li class="{{ 'active' if title=='Login' else '' }}">
				<a href="{{ url_for('main.login') }}">
					<span class="mif-switch"></span>
					登录
				</a>
			</li>
			<li class="{{ 'active' if title=='Register' else '' }}">
				<a href="{{ url_for('main.register') }}">
					<span class="mif-user-plus"></span>
					注册
				</a>
			</li>
			{% endif %}
		</ul>
	</nav>
	{% endblock %}

	{% block content %}{% endblock %}

	{% block footer %}{% endblock %}

	<script src="{{ url_for('static',filename='js/metro.min.js') }}"></script>

	{% block script %} {% endblock %}
	{% for message in get_flashed_messages() %}
	<script>
		var options = {
			showTop: true,
			timeout: 3000
		}
		Metro.toast.create("{{message}}", null, null, null, options);
	</script>
	{%endfor%}
</body>

</html>