<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block title %}
		<title> {{ title }} -- 迹 </title>
	{% endblock %}
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/materialize.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
	{% block header %}
		{% include 'header.html' %}
	{% endblock %}

	<main class="container">
		{% block content %}{% endblock %}
	</main>

	{% block footer %}
		{% include 'footer.html' %}
	{% endblock %}


	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
	<script src="{{ url_for('static',filename='js/materialize.min.js') }}"></script>

	<script>
		$(document).ready(function () {
			$(".button-collapse").sideNav();
		})
	</script>
	{% block script %} {% endblock %}
	{% for message in get_flashed_messages() %}
		<script>
			Materialize.toast("{{message}}", 3000, 'rounded')
		</script>
	{%endfor%}
</body>

</html>