<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
	<title>
		{% block title %}
		{{ title }}
		{% endblock %}
		-Simple Record
	</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/metro-all.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body class="bg-light d-flex flex-column ">

	{% block header %}
	<nav class="d-flex flex-justify-between flex-align-baseline flex-wrap pl-2">
		<a href="/" class="brand no-hover button info drop-shadow ">
			<span class="pl-3 pr-3">R p</span>
		</a>
		<ul class="d-flex ">
			<li class="{{ 'active' if title=='Home' else '' }}">
				<a href="{{ url_for('main.home') }}" class="button info outline">
					发现
				</a>
			</li>
			<li class="{{ 'active' if title=='Profile' else '' }}">
				<a href="{{url_for('main.profile')}}" class="button info outline">
					个人中心</a>
			</li>			
			<li class="{{ 'active' if title=='Post' else '' }}">
				<a href="{{url_for('post.new')}}" class="button info outline">
					记录中心
				</a>
			</li>
			{% if g.user.is_authenticated %}
			<li>
				<div class="split-button">
						<img src="{{current_user.avatar}}" class="circle image-30" alt="{{current_user.name}}" />
						{{current_user.name}}
                    <button class="split dropdown-toggle"></button>
                    <ul class="d-menu" data-role="dropdown">
						<li>
							<a href="{{ url_for('main.logout') }}">
								退出
							</a>
						</li>
                    </ul>
                </div>
			</li>
			{% else %}
			<li class="{{ 'active' if title=='Login' else '' }}">
				<a href="{{ url_for('main.login') }}" class="button info outline">
					登录
				</a>
			</li>
			<li class="{{ 'active' if title=='Register' else '' }}">
				<a href="{{ url_for('main.register') }}" class="button info outline">
					注册
				</a>
			</li>
			{% endif %}
		</ul>
	</nav>
	{% endblock %}

	{% block content %}{% endblock %}

	{% block footer %}
	<!-- <div id="bg" style="background-image: url({{ url_for('static', filename='image/bg.png') }});"></div> -->
	<footer class="mt-3 container">
		<div class="row">
			<div class="d-flex">
				<ul>
					<a target="_blank" href="">关于我们</a>
					<a target="_blank" href="">联系我们</a>
					<a target="_blank" href="">用户协议</a>
					<a target="_blank" href="">加入我们</a>
					<a target="_blank" href="">友情链接</a>
					<a target="_blank" href="">隐私政策</a>
					<a target="_blank" href="">Investor Relations</a>
					<a target="_blank" href="http://www.beian.miit.gov.cn">备案号:鲁ICP备19060145号-1 </a>
					<a target="_blank" href="">&copy; {{year}}</a>
				</ul>
			</div>
		</div>
	</footer>
	{% endblock %}

	<script src="{{ url_for('static',filename='js/metro.min.js') }}"></script>

	{% block script %} {% endblock %}
	{% for message in get_flashed_messages() %}
	<script>
		var options = {
			showTop: true,
			timeout: 3000
		}
		Metro.toast.create("{{message}}", null, null, null, options);
	</script>
	{%endfor%}
</body>

</html>