{% extends "layout.html" %}
{% from 'function.html' import render_field %}
{% block content %}
<main class="row flex-justify-center">
    <div class="cell cell-md-6 cell-sm-12">
        <div class="center">
            <h2>{{ title }}</h2>
        </div>
        <form class="form" method="POST">
            {{ form.hidden_tag() }}
            {{render_field(form.email)}}
            {{render_field(form.password)}}
            {{render_field(form.remember_me)}}
            {{form.submit}}
        </form>
    </div>
</main>
{% endblock %}
