<li class="collection-item avatar">
    <img src="{{post.post_user.avatar}}" alt="{{post.post_user.name}}" class="circle">
    <span class="title">{{ post.title }}</span>
    <p>{{post.post_user.name}}-{{ post.time}}</p>
    {% if title == 'Posts' %}
        <li class="edit">
            <a type="button" href="{{url_for('post.updata',post_page=posts.page,post_title=post.title)}}">
                修改
            </a>
        </li>
        <li class="delete">
        </li>
    {% endif %}
    <a href="{{ url_for('main.post',id=post.id)}}" class="secondary-content">
        <i class="material-icons">read_more</i>
    </a>
</li>