{% extends "layout.html" %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block content %}

<main class="container h-100">
	<div class="row pt-16">
		<div class="cell-md-4 cell-sm-12 ">
			<figure>
				<img src="{{post.post_img}}" class="responsive-img" alt="{{ post.title }}" />
				<figcaption class="text-right">{{ post.title }}</figcaption>
			</figure>
			<h2>About</h2>
			<div class="card">
				<img src="{{post.post_user.avatar}}" class="circle avatar post-user-img"
					alt="{{post.post_user.name}}" />
				{{post.post_user.name}}
				{{post.time.strftime("%Y-%m-%d")}}
				{{post.address}}
			</div>
		</div>
		<div class="cell-md-8 cell-sm-12 d-flex flex-column">
			<article class="post-content">
				<h2>{{ post.title }}</h2>
				{{ post.content | safe }}
			</article>
			<section>
				<h2>
					相关文章
					{% if g.user.is_authenticated %}
					<a class="text-right" href="{{url_for('article.new',post_id=post.id)}}">去写文章</a>
					{% else %}
					<div>
						<a class="text-right" href="/login">登录?写长评</a>
					</div>
					{% endif %}
				</h2>
				<ul class="items-list">
					{% for item in articles %}
						<li>
							<img src="{{item.article_user.avatar}}" alt="{{item.article_user.name}}" class="avatar">
							<span class="second-label">{{item.time.strftime("%Y-%m-%d")}} by -
								{{item.article_user.name}}</span>

						</li>
						<p>
							{{item.content | truncate(100,True) |safe }}
							<a href="{{url_for('article.articles',id=item.id)}}" title=" {{item.title}}">
								<span class="second-action fg-red">查看全文</span>
							</a>
						</p>
					{% endfor %}
				</ul>
			</section>
		</div>
	</div>
</main>
{% endblock %}