{% extends "layout.html" %}
{% from 'function.html' import render_pagination %}
{% block content %}


<main class="container h-100 pt-16">

	<header class="row bg-white flex-column">
		<div class="row p-3 flex-align-end ">
			<a onclick="Metro.dialog.open('#img-dialog')">
				<img src="{{user.avatar}}" class="circle responsive-img avatar" alt="{{user.name}}" />
			</a>
			<div>
				<h2 style="margin: 1rem;">{{user.name}}</h2>
				<ul class="list-group">
					<li>看过	{{user.posts.count()}}	部电影</li>
					<li>写过	{{user.articles.count()}}	篇文章</li>
					<li>最近活跃：{{user.last_seen}}</li>
				</ul>
			</div>
		</div>
		<ul class="mt-8" data-role="tabs" data-tabs-type="group" data-expand="true">
			<li class="{{ 'active' if tab=='post' else '' }}"><a href="?tab=post">他的记录</a></li>
			<li class="{{ 'active' if tab=='article' else '' }}"><a href="?tab=article">他的文章</a></li>
		</ul>
	</header>
	
	<section class="row">
	<div class="cell-md-4 cell-sm-12">

	</div>

	<div class="cell-md-8 cell-sm-12">

		<section class="mt-10">
			<div id="my-posts" class="col s12">
				<!-- posts -->
				{% if posts.items %}

				<ul class="collection">
					{% for post in posts.items %}

					{% endfor %}
				</ul>
				{% else %}
				<p>你什么都没有ヾ(≧O≦)〃嗷~</p>
				{% endif %}
				<!-- pagination -->
				<div class="center">
					{{ render_pagination(posts,'main.profile') }}
				</div>
			</div>
			<div id="my-articles" class="col s12">

				{% if current_user.articles %}

				<ul class="collection">
					{% for item in current_user.articles %}
					<a href="{{url_for('article.articles',id=item.id)}}" class="collection-item"
						title=" {{item.title}}">
						{{item.title}}
						<span class="right">
							{{item.time.strftime("%Y-%m-%d")}}
						</span>
					</a>
					{% endfor %}
				</ul>
				{% else %}
				<p>你什么都没有ヾ(≧O≦)〃嗷~</p>
				{% endif %}
			</div>
			<div id="my-comments" class="col s12">

				{% if current_user.comments %}
				<ul class="collection">
					{% for item in current_user.comments %}
					<li class="collection-item">
						<span class="icon-info">
							<i class="material-icons">attachment</i>
							<a
								href="{{url_for('article.articles',id=item.comment_article.id)}}">{{ item.comment_article.title}}</a>
						</span>
						<p>
							<span>{{item.content}}</span>
							<span class="text-muted right">{{item.time.strftime("%Y-%m-%d")}}</span>
						</p>
					</li>
					{% endfor %}

				</ul>
				{% else %}
				<p>你什么都没有ヾ(≧O≦)〃嗷~</p>
				{% endif %}
			</div>
		</section>


	</div>
	</section>






	<div class="dialog" data-role="dialog" id="change-dialog">
		<div class="dialog-title">
			<h4>编辑资料</h4>
		</div>
		<div class="dialog-content">
			<form class="form" method="POST">
				<!-- #实现在配置中激活的csrf保护 -->
				{{ form.hidden_tag() }}
				<div class="input-field">
					{{ form.username(class="vaadate") }}
					{{ form.username.label }}
					{% for error in form.username.errors %}
					<span style="color: crimson;">{{error}}</span>
					{% endfor %}
				</div>
				<div class="input-field">
					{{ form.email(class="vaadate") }}
					{{ form.email.label }}
					{% for error in form.email.errors %}
					<span style="color: crimson;">{{error}}</span>
					{% endfor %}
				</div>
				<div class="dialog-actions">
					<button class="button js-dialog-close">{{form.submit()}}</button>
					<button class="button primary js-dialog-close">取消</button>
				</div>
			</form>
		</div>

	</div>

	<div class="dialog" data-role="dialog" id="img-dialog">
		<div class="dialog-title">
			<h4>上传头像</h4>
		</div>
		<div class="dialog-content">
			<form action="{{url_for('main.avatar')}}" method="POST" enctype="multipart/form-data">
				<!-- #实现在配置中激活的csrf保护 -->
				{{ img_form.hidden_tag() }}
				<div class="row">
					<div class="WriteCover-wrapper left" style="width: 50%;">
						<label class="UploadPicture-wrapper">
							{{ img_form.upload_photo( class="UploadPicture-input",onchange="getPhoto(this)", accept=".jpeg, .jpg, .png" ) }}
							<span>头像</span>
						</label>
						{% for error in img_form.upload_photo.errors %}
						<span style="color: crimson;">{{error}}</span>
						{% endfor %}
					</div>
					<div class="file-path-wrapper right" style="width: 50%;">
						<img id="img_view" src="" />
					</div>
				</div>
				<div class="row">
					<div class="dialog-actions">
						<button class="button js-dialog-close">{{form.submit()}}</button>
						<button class="button primary js-dialog-close">取消</button>
					</div>
				</div>
			</form>
		</div>

	</div>

</main>
{% endblock %}
{% block script %}
<script>
	var imgurl = "";

	function getPhoto(node) {
		var imgURL = "";
		try {
			var file = null;
			if (node.files && node.files[0]) {
				file = node.files[0];
			} else if (node.files && node.files.item(0)) {
				file = node.files.item(0);
			}
			//Firefox 因安全性问题已无法直接通过input[file].value 获取完整的文件路径  
			try {
				imgURL = file.getAsDataURL();
			} catch (e) {
				imgRUL = window.URL.createObjectURL(file);
			}
		} catch (e) {
			if (node.files && node.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					imgURL = e.target.result;
				};
				reader.readAsDataURL(node.files[0]);
			}
		}
		creatImg(imgRUL); //显示图片
		return imgURL;
	}

	function creatImg(imgRUL) {
		document.getElementById("img_view").src = imgRUL;
		$("#img_view").addClass("user_img")
		$('#img_view').viewer({
			url: 'src',
		});
	}
</script>
{% endblock %}