{% extends "layout.html" %}
{% from 'function.html' import render_pagination %}
{% from 'function.html' import render_field %}
{% block content %}


<main class="container h-100 pt-16">

	<header class="row bg-white flex-column">
		<div class="row p-3 flex-align-end ">
			<a onclick="Metro.dialog.open('#avatar-dialog')">
				<div class="img-container">
					<img src="{{current_user.avatar}}" class="img-container img-thumbnail"
					alt="{{current_user.name}}" />
					<div class="image-overlay op-dark">
						更换头像
					</div>
				</div>
			</a>
			<div>
				<h2 style="margin: 1rem;">{{current_user.name}}</h2>
				<ul class="list-group">
					<li>看过 {{current_user.posts.count()}} 部电影</li>
					<li>写过 {{current_user.articles.count()}} 篇文章</li>
					<li>最近活跃：{{current_user.last_seen}}</li>
				</ul>
			</div>
			<button class="button" onclick="Metro.dialog.open('#editor-dialog')">编辑资料</button>
		</div>
		<ul class="mt-8" data-role="tabs" data-tabs-type="group" data-expand="true">
			<li class="{{ 'active' if tab=='post' else '' }}"><a href="{{ url_for('main.profile',tab='post')}}">电影日志</a>
			</li>
			<li class="{{ 'active' if tab=='article' else '' }}"><a
					href="{{ url_for('main.profile',tab='article')}}">文章</a></li>
			<li class="{{ 'active' if tab=='comment' else '' }}"><a
					href="{{ url_for('main.profile',tab='comment')}}">评论</a></li>
		</ul>
	</header>

	<section class="row flex-justify-center">

		<div class="cell cell-md-8 cell-sm-12 bg-white">
			<div class="row">
				{% if paginate.items %}

				{% if tab == 'article' %}

				{% for item in paginate.items %}
				<div class="p-3 cell-12 d-flex flex-justify-between">
					<a href="{{url_for('article.articles',id=item.id)}}" title=" {{item.title}}">
						《{{item.title}}》
					</a>
					<span class="text-muted">
						{{item.time.strftime("%Y-%m-%d")}}
					</span>
				</div>
				{% endfor %}

				{% elif tab == 'comment' %}

				<ul class="p-3">
					{% for item in paginate.items %}
					<li>
						<div class="d-flex flex-align-center">
							<a href="{{url_for('article.articles',id=item.article_id)}}">
								<span>《{{item.comment_article.title}}》</span>
							</a>
						</div>
						<div class="p-1">
							{% if item.comm_type == 0 %}
							<span class="fg-gray">@回复 {{item.title}} </span>
							<br>
							{% endif %}
							{{item.content}}
							<br>
							<span class="text-muted">{{item.time.strftime("%Y-%m-%d")}}</span>
						</div>
					</li>
					{% endfor %}
				</ul>

				{% else %}

				{% for item in paginate.items %}
				<a href="{{ url_for('post.posts',id=item.id)}}" title="{{item.title}}" class="cell-3">
					<div class="img-container">
						<img src="{{item.post_img}}" alt="{{item.title}}">
						<div class="image-overlay op-black">
							<h2 class="text-light">{{item.title}}</h2>
							<p>
								{{item.time.strftime("%Y-%m-%d")}}
								{{ item.address}}
							</p>
						</div>
					</div>
				</a>
				{% endfor %}

				{% endif %}

				{% else %}
				{% include 'empty.html' %}
				{% endif %}
			</div>
			<!-- pagination -->
			<div>
				{{ render_pagination(paginate,'main.profile',tab=tab) }}
			</div>
		</div>

		<div class="cell cell-md-4 cell-sm-12 bg-white text-center">
			<h4>关注</h4>
		</div>

	</section>

	<div class="dialog " data-role="dialog" id="editor-dialog" data-close-button="true">
		<div class="dialog-title">
			<h4>编辑资料</h4>
		</div>
		<div class="dialog-content">
			<form method="POST">
				<!-- #实现在配置中激活的csrf保护 -->
				{{ form.hidden_tag() }}
				{{render_field(form.username)}}
				{{render_field(form.email)}}
				<div class="form-group dialog-actions text-right">
					{{form.submit()}}
				</div>
			</form>
		</div>
	</div>

	<div class="dialog" data-role="dialog" id="avatar-dialog" data-close-button="true">
		<div class="dialog-title">
			<h4>更换头像</h4>
		</div>
		<div class="dialog-content">
			<form action="{{url_for('main.avatar')}}" method="POST" enctype="multipart/form-data">
				<!-- #实现在配置中激活的csrf保护 -->
				{{ img_form.hidden_tag() }}
				<div class="input-wrapper">
					<label class="image-label" for="upload_photo" id="upload-label">
						{{ img_form.upload_photo( class="image-hidden-input",onchange="getPhoto(this)", accept=".jpeg, .jpg, .png" ) }}
						<span id="upload-text">更换头像</span>
					</label>
					<small class="text-muted fg-crimson">
						{% for error in img_form.upload_photo.errors  %}
						{{error}}
						{% endfor %}
					</small>
				</div>
				<div class="form-group dialog-actions text-right">
					{{form.submit()}}
				</div>
			</form>
		</div>
	</div>

</main>
{% endblock %}
{% block script %}
<script>
	var imgurl = "";

	function getPhoto(node) {
		var imgURL = "";
		try {
			var file = null;
			if (node.files && node.files[0]) {
				file = node.files[0];
			} else if (node.files && node.files.item(0)) {
				file = node.files.item(0);
			}
			//Firefox 因安全性问题已无法直接通过input[file].value 获取完整的文件路径  
			try {
				imgURL = file.getAsDataURL();
			} catch (e) {
				imgRUL = window.URL.createObjectURL(file);
			}
		} catch (e) {
			if (node.files && node.files[0]) {
				var reader = new FileReader();
				reader.onload = function (e) {
					imgURL = e.target.result;
				};
				reader.readAsDataURL(node.files[0]);
			}
		}
		creatImg(imgRUL); //显示图片
		return imgURL;
	}

	function creatImg(imgRUL) {
		document.getElementById("upload-text").innerHTML = `<img id="img_view" src="${imgRUL}"/>`;
	}
</script>
{% endblock %}