{% extends "layout.html" %}
{% from 'function.html' import render_field %}
{% block content %}
<main class="container h-100 pt-3">
    <div class="row bg-white p-5 flex-justify-center win-shadow">
        <header class="col-sm-12 col-md-6 d-flex flex-column flex-justify-between">
            <h2>{{ title }}</h2>
            <img src="{{url_for('static',filename='image/logo.png')}}" width="200px"/>
        </header>
        <form method="POST" class="col-sm-12 col-md-6">
            {{ form.hidden_tag() }}
            {{render_field(form.email)}}
            {{render_field(form.username)}}
            {{render_field(form.password)}}
            {{render_field(form.password2)}}
            <div class="form-group">
                {{form.submit(class="w-100 info drop-shadow")}}
            </div>
        </form>
    </div>
</main>
{% endblock %}