{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col m6 s12 offset-m3 card">
        <header class="center">
            <h2>{{ title }}</h2>
        </header>
        <form class="form"  method="POST">
            
            {{ form.hidden_tag() }}

            <div class="input-field">
                {{ form.username(class="validate") }}
                {{ form.username.label }}
                {% for error in form.username.errors %}
                    <span style="color: crimson;">{{error}}</span>
                {% endfor %}
            </div>
            <div class="input-field">
                {{ form.email(class="validate") }}  
                {{ form.email.label }}
                {% for error in form.email.errors %}
                    <span style="color: crimson;">{{error}}</span>
                {% endfor %} 
            </div>

            <div class="input-field">
                {{ form.password(class="validate") }}
                {{ form.password.label }}
                {% for error in form.password.errors %}
                    <span style="color: crimson;">{{error}}</span>
                {% endfor %}   
            </div>
            
            <div class="input-field">
                {{ form.password2(class="validate") }}
                {{ form.password2.label }}
                {% for error in form.password2.errors %}
                    <span style="color: crimson;">{{error}}</span>
                {% endfor %}   
            </div>

            <div class="input-field">
                <a href="{{url_for('main.login')}}">已有帐号？去登录</a>
            </div>

            <div class="input-field center sub-btn">
                {{form.submit(class="btn waves-effect waves-light")}}
            </div>

        </form>
    </div>
</div>
{% endblock %}