{% extends "layout.html" %}
{% from 'function.html' import render_field %}
{% block content %}
<main class="container container h-100 pt-16">
    <div class="row  bg-white flex-justify-center">
        <div class="cell-md-5 cell-sm-12">
            <header>
                <h2>{{ title }}</h2>
            </header>
            <form method="POST">
                {{ form.hidden_tag() }}
                {{render_field(form.email)}}
                {{render_field(form.username)}}
                {{render_field(form.password)}}
                {{render_field(form.password2)}}
                <div class="form-group">
                    {{form.submit(class="w-100")}}
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}