{% extends "layout.html" %}
{% from 'function.html' import render_pagination %}
{% block title %}{{user.name}}{% endblock%}
{% block content %}
<main class="container h-100 pt-16">

	<header class="row bg-white flex-column">
		<div class="row p-3 flex-align-end ">
			<div class="img-container">
				<img src="{{user.avatar}}" class="img-container img-thumbnail" alt="{{user.name}}" />
				<div class="image-overlay op-dark">
					更换头像
				</div>
			</div>
			<div>
				<h2 style="margin: 1rem;">{{user.name}}</h2>
				<ul class="list-group">
					<li>看过	{{user.posts.count()}}	部电影</li>
					<li>写过	{{user.articles.count()}}	篇文章</li>
					<li>最近活跃：{{user.last_seen}}</li>
				</ul>
			</div>
		</div>
		<ul class="mt-8" data-role="tabs" data-tabs-type="group" data-expand="true">
			<li class="{{ 'active' if tab=='post' else '' }}"><a href="?tab=post">他的记录</a></li>
			<li class="{{ 'active' if tab=='article' else '' }}"><a href="?tab=article">他的文章</a></li>
		</ul>
	</header>

	<section class="row">

		<div class="cell cell-md-8 cell-sm-12 bg-white">
			<div class="row">
				{% if paginate.items %}
				{% if tab == 'article' %}
				{% for item in paginate.items %}
				<div class="p-3 cell-12 d-flex flex-justify-between">
					<a href="{{url_for('article.articles',id=item.id)}}" title=" {{item.title}}">
						《{{item.title}}》
					</a>
					<span class="text-muted">
						{{item.time.strftime("%Y-%m-%d")}}
					</span>					
				</div>
				{% endfor %}
				{%  else %}
				{% for item in paginate.items %}
				<a href="{{ url_for('post.posts',id=item.id)}}" title="{{item.title}}" class="cell-3">
					<div class="img-container">
						<img src="{{item.post_img}}" alt="{{item.title}}">
						<div class="image-overlay">
							<h2 class="text-light">{{item.title}}</h2>
							<p>
								{{item.time.strftime("%Y-%m-%d")}}
								{{ item.address}}
							</p>
						</div>
					</div>
				</a>
				{% endfor %}
				{% endif %}
				{% else %}
				{% include 'empty.html' %}
				{% endif %}
			</div>
				<!-- pagination -->
			<div>
				{{ render_pagination(paginate,'post.user_posts',id=user.id,tab=tab) }}
			</div>
		</div>

		<div class="cell cell-md-4 cell-sm-12 bg-white text-center">
			<h4>关注</h4>
		</div>

	</section>
</main>
{% endblock %}